body {
  font-family: 'Source Sans Pro', sans-serif !important;
  margin: 0;
  padding: 0;
}

.blue-nav{
  background-color: #6dc8d6;
  font-family: 'Concert One', cursive !important;
  border-bottom: 3px solid #E7E7E7;
}

.margin-right-nav{
  margin-right: 30px;
  text-transform: uppercase;

}

.margin-right-nav-emergency{
  margin-right: 100px;
  background-color: #4c5ad2;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  border-radius: 25px;
  color: white !important;
  cursor: pointer;

}

.navbar-light .navbar-text a{
  color: white !important;
}

.navbar-light .navbar-text a:hover{
  text-decoration: none;
  border-bottom: 3px solid white;
}

.grey-text{
  color: grey;
  margin-top: -30px;
}

.title{
  margin-top: 100px;
  margin-left: 100px;
  text-transform: uppercase;
  font-family: 'Concert One', cursive !important;
  font-size: 65px;
}

.blue-text{
  color: #6dc8d6;
}

.no-margin-top h3{
  margin-top: -300 !important;
}

.col-width h3{
  margin-top: 200px;
  /* max-width: 500px; */
}

.center-text{
  text-align: center;
}

.margin-top-h3{
  margin-top: 50px;
}

.col-margins{
  margin-top: 100px;
  margin-left: 100px;
}

.envelope{
  margin-top: 20px;
  width: 20%;
  margin-bottom: 100px;
}

.form-width{
  width: 500px !important;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://i.imgur.com/SepW5TF.png);
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form {
  background-color: #4c5ad2;
  padding: 40px;
  color: white;
  border-radius: 25px;
}

.button-blue{
  background-color: #6dc8d6 !important;
  border-radius: 25px !important;
  padding: 5px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  font-size: 20px !important;
}

h3{
  font-size: 25px !important;
  line-height: 1.75em !important;
}

.footer{
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.background-image-title{
  background-image: url(https://i.imgur.com/CEh4aJm.jpg);
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-image-right{
  background-image: url(https://i.imgur.com/O88nNgJ.jpg);
  padding-bottom: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.row-margin-bottom{
  margin-top: 100px;
  margin-bottom: 300px;
}

.button-move-down{
  margin-top: 50px;
}

.btn {
  display: block;
  margin: 0 auto;
}

.margin-top-button{
  margin-top: 50px;
}

.field{
  padding: 10px;
  border-radius: 15px;
  border: none;
  margin-bottom: 10px;
}

.field-toolkit{
  width: 40em;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right:15px;
}

.margin-left-button{
  margin-left: 50px;
}

.title-margin-bottom{
  margin-bottom: 50px;
}

.form-title{
  font-family: 'Concert One', cursive !important;
  text-transform: uppercase;
  padding-bottom: 50px;
  margin: 0 auto;
  font-size: 20px;
}

.h3-no-top-margin{
  margin-top: 15px !important;
}

.weight-bold{
  font-weight: 700;
}

.color-purple{
  color: #4c5ad2;
}

.backgound-image-join{
  height: 300px;
  background-image: url(https://i.imgur.com/30czOd8.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.backgound-image-about{
  margin-top: -35px;
  height: 500px;
  background-image: url(https://i.imgur.com/hlrEm2A.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.title-no-margin{
  margin-top: -50px;
  text-transform: uppercase;
  font-family: 'Concert One', cursive !important;
  font-size: 65px;
}

.title-some-margin{
  margin-top: 50px;
  text-transform: uppercase;
  font-family: 'Concert One', cursive !important;
  font-size: 65px;
}

.padding-description{
  margin-top: 30px;
}


/* loader */
.loader{
  text-align: center;
  margin-top: 250px;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
}
.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: rgb(211, 112, 112);
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: rgb(211, 112, 112);
}
.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

/* bottom of loader */

.move-down-button{
  margin-top: 150px;
}

.modal-heading{
  text-transform: uppercase;
  font-family: 'Concert One', cursive !important;
}

.select{
  margin-bottom: 30px;
}

.toolkit-display{
  width: 500px;
  background-color: white;
  color: #4c5ad2;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px;
  border: 3px solid #6dc8d6;
}

.eye{
  width: 40%;
  margin-top: 10px;
  cursor: pointer;
}

.edit-delete{
  margin-top: 15px;
  text-transform: uppercase;
  font-family: 'Concert One', cursive !important;
  bottom: 0;
  cursor: pointer;
}

.toolkit-margin-bottom{
  padding-bottom: 150px;
  background-color: #4c5ad2;
  /* background-size: cover; */
  /* background-repeat: repeat-y;
  background-size: 100% 100%; */
  /* margin-top: -100px; */
  min-height: 100vh;
}

.title-white{
  padding-top: 100px;
  padding-left: 100px;
  text-transform: uppercase;
  font-family: 'Concert One', cursive !important;
  font-size: 65px;
  color: white
}

.text-left{
  text-align: left !important;
}

.category-icon{
  width: 75px;
  margin-bottom: 30px;
}

.activity-heading{
  margin-bottom: 30px;
}

.toolkit-display .row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.category-margin{
  margin-top: 30px;
  margin-bottom: 30px;
}

.category-bold{
  font-weight: 700;
}

.footer-text{
  font-size: 15px;
}

.button-pink{
  background-color: rgb(211, 112, 112) !important;
  border-radius: 25px !important;
  padding: 5px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  font-size: 20px !important;
}

.remove-sub-head{
  margin-bottom: 30px;
}

.white-text{
  color: white;
}

.error{
  margin-top: 5px;
  margin-bottom: 15px;
}

.center-toolkit{
  text-align: -webkit-center;
}
