body {
  font-family: 'Source Sans Pro', sans-serif !important;
  margin: 0;
  padding: 0;
}

.blue-nav{
  background-color: #6dc8d6;
  font-family: 'Concert One', cursive !important;
  border-bottom: 3px solid #E7E7E7;
}

.margin-right-nav{
  margin-right: 30px;
  text-transform: uppercase;

}

.margin-right-nav-emergency{
  margin-right: 100px;
  background-color: #4c5ad2;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  border-radius: 25px;
  color: white !important;
  cursor: pointer;

}

.navbar-light .navbar-text a{
  color: white !important;
}

.navbar-light .navbar-text a:hover{
  text-decoration: none;
  border-bottom: 3px solid white;
}

.grey-text{
  color: grey;
  margin-top: -30px;
}

.title{
  margin-top: 100px;
  margin-left: 100px;
  text-transform: uppercase;
  font-family: 'Concert One', cursive !important;
  font-size: 65px;
}

.blue-text{
  color: #6dc8d6;
}

.no-margin-top h3{
  margin-top: -300 !important;
}

.col-width h3{
  margin-top: 300px;
  /* max-width: 500px; */
}

.center-text{
  text-align: center;
}

.margin-top-h3{
  margin-top: 50px;
}

.col-margins{
  margin-top: 100px;
  margin-left: 100px;
}

.envelope{
  margin-top: 20px;
  width: 20%;
  margin-bottom: 50px;
}

.form-width{
  width: 500px !important;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://i.imgur.com/SepW5TF.png);
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form {
  background-color: #4c5ad2;
  padding: 40px;
  color: white;
  border-radius: 25px;
}

.button-blue{
  background-color: #6dc8d6 !important;
  border-radius: 25px !important;
  padding: 5px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  font-size: 20px !important;
}

h3{
  font-size: 25px !important;
  line-height: 1.75em !important;
}

.footer{
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.background-image-title{
  background-image: url(https://i.imgur.com/CEh4aJm.jpg);
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-image-right{
  background-image: url(https://i.imgur.com/O88nNgJ.jpg);
  padding-bottom: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.row-margin-bottom{
  margin-top: 100px;
  margin-bottom: 300px;
}

.button-move-down{
  margin-top: 50px;
}

.btn {
  display: block;
  margin: 0 auto;
}

.margin-top-button{
  margin-top: 50px;
}

.field{
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  border: none;
  margin-top: 15px;
}

.margin-left-button{
  margin-left: 50px;
}

.title-margin-bottom{
  margin-bottom: 50px;
}

.form-title{
  font-family: 'Concert One', cursive !important;
  text-transform: uppercase;
  padding-bottom: 50px;
  margin: 0 auto;
  font-size: 20px;
}



